<form action="/employee/edit-employee" method="POST">
    <div>
        <h1>Employee Information</h1>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{{ employee.dataValues.name }}}">

        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" value="{{{ employee.dataValues.email }}}">

        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone" value="{{{ employee.dataValues.phone }}}">

        <label for="nationality">Nationality</label>
        <input type="text" name="nationality" id="nationality" value="{{{ employee.dataValues.nationality }}}">

        <label for="documentType">Document Type</label>
        <input type="text" name="documentType" id="documentType" value="{{{ employee.dataValues.documentType }}}">

        <label for="documentNumber">Document Number</label>
        <input type="text" name="documentNumber" id="documentNumber" value="{{{ employee.dataValues.documentNumber }}}">

        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="{{{ employee.dataValues.address }}}">

        <label for="birthDate">Birth Date</label>
        <input type="date" name="birthDate" id="birthDate" value="{{{ employee.dataValues.birthDate }}}">

        <label for="job">Job</label>
        <select name="job" id="job">
            <option value="manager" {{#equals employee.dataValues.job 'manager' }}selected{{/equals}}>Manager</option>
            <option value="receptionist" {{#equals employee.dataValues.job 'receptionist' }}selected{{/equals}}>Receptionistn</option>
            <option value="maid" {{#equals employee.dataValues.job 'maid' }}selected{{/equals}}>Maid</option>
            <option value="security" {{#equals employee.dataValues.job 'security' }}selected{{/equals}}>Security</option>
            <option value="cleaning" {{#equals employee.dataValues.job 'cleaning' }}selected{{/equals}}>Cleaning</option>
        </select>

        <label for="salary">Salary</label>
        <input type="number" name="salary" id="salary" value="{{{ employee.dataValues.salary }}}">

        <label for="workShift">Work Shift</label>
        <select name="workShift" id="workShift">
            <option value="morning" {{#equals employee.dataValues.workShift 'morning' }}selected{{/equals}}>Morning</option>
            <option value="afternoon" {{#equals employee.dataValues.workShift 'afternoon' }}selected{{/equals}}>Afternoon</option>
            <option value="night" {{#equals employee.dataValues.workShift 'night' }}selected{{/equals}}>Night</option>
        </select>

    </div>
    <input type="hidden" value="{{{employee.dataValues.idEmployee}}}" name="idemployee">
    <button type="submit">Edit Employee</button>
    <input type="reset" value="Reset">
</form>