<h1>Host Informations</h1>
<div class="container">
    <h1>Name: {{{ host.dataValues.name }}}</h1>
    <p>Birth Date: {{{ host.dataValues.birthDate }}}</p>
    <p>email: {{{ host.dataValues.email }}}</p>
    <p>Adress: {{{ host.dataValues.address }}}</p>
    <p>Phone: {{{ host.dataValues.phone }}}</p>
    <p>Nationality: {{{ host.dataValues.nationality}}}</p>
    <p>Type: {{{ host.dataValues.type}}}</p>
    <p>Document {{{host.dataValues.documentType}}}: {{{ host.dataValues.documentNumber }}}</p>
    <p>Created At: {{{ host.dataValues.createdAt }}}</p>
    <p>Update At: {{{ host.dataValues.updatedAt }}}</p>
    <a href="/host/edit-host/{{{ host.dataValues.idHost }}}">Edit</a>
    <form action="/host/delete-host" method="POST">
        <input type="hidden" value="{{{host.dataValues.idHost}}}" name="idHost">
        <button type="submit">Delete</button>
    </form>
</div>