<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/room/rooms/?idHotel={{{room.dataValues.HotelIdHotel}}}">Rooms</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{{room.dataValues.roomNumber}}}</li>
        </ol>
    </nav>
    <div class="card text-center">
        <div class="card-header">
            <h1>{{{ room.dataValues.roomNumber }}}/{{{ room.dataValues.floor }}}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{{ room.dataValues.type }}}/{{{ room.dataValues.classRoom}}}</h5>
            <p class="card-text">Name: {{{ room.dataValues.name }}}</p>
            <p class="card-text">Description: {{{ room.dataValues.description }}}</p>
            <p class="card-text">Status: {{{room.dataValues.status}}}</p>
            <p class="card-text">Daily Cost: {{{ room.dataValues.dailyCost}}}</p>
            <a href="/room/edit-room/{{{ room.dataValues.idRoom }}}" class="btn btn-primary">Edit</a>
            <form action="/room/delete-room" method="POST">
                <input type="hidden"  value="{{{room.dataValues.idRoom}}}" name="idRoom">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <p>Created At: {{{ room.dataValues.createdAt }}}</p>
            <p>Update At: {{{ room.dataValues.updatedAt }}}</p>
        </div>
    </div>
</div>