<h1>room Informations</h1>
<div class="container">
    <h1>Room Number: {{{ room.dataValues.roomNumber }}}</h1>
    <p>Name: {{{ room.dataValues.name }}}</p>
    <p>Description: {{{ room.dataValues.description }}}</p>
    <p>Floor: {{{ room.dataValues.floor }}}</p>
    <p>Type: {{{ room.dataValues.type }}}</p>
    <p>Class Room: {{{ room.dataValues.classRoom}}}</p>
    <p>Status: {{{room.dataValues.status}}}</p>
    <p>Daily Cost: {{{ room.dataValues.dailyCost}}}</p>
    <p>Created At: {{{ room.dataValues.createdAt }}}</p>
    <p>Update At: {{{ room.dataValues.updatedAt }}}</p>
    <a href="/room/edit-room/{{{ room.dataValues.idRoom }}}">Edit</a>
    <form action="/room/delete-room" method="POST">
        <input type="hidden" value="{{{room.dataValues.idRoom}}}" name="idRoom">
        <button type="submit">Delete</button>
    </form>
</div>